  - name: Install Apache and PHP packages for (Ubuntu Servers)
    tags: apache2,apache,Ubuntu
    package:
      name: 
           - "{{ apache_package_name }}"
           - "{{ php_package_name }}"
      state: latest
    when: ansible_distribution == "Ubuntu"
 
  - name: change e-mail address for admin
    tags: apache,centos,httpd
    lineinfile: 
       path: /etc/httpd/conf/httpd.conf
       regexp: '^Serveradmin'
       line: ServerAdmin testingagainlinechangeonansible@homelab.net
    when: ansible_distribution == "AlmaLinux"
    notify: restart_apache

  - name: copy default html html files for site
    tags: apache,apache2,httpd
    copy:
      src: default_site.html
      dest: /var/www/html/index.html
      owner: root 
      group: root
      mode: 0644

  - name: Install Apache and PHP packages for Almalinux Server
    dnf:
     name:
           - httpd
           - php
     state: latest
    when: ansible_distribution == "Almalinux"

  - name: Ensure firewalld is installed (AlmaLinux/CentOS)
    dnf:
        name: firewalld
        state: present
    when: ansible_distribution in ["AlmaLinux", "CentOS"]

  - name: Ensure firewalld is running (AlmaLinux/CentOS)
    service:
        name: firewalld
        state: started
        enabled: true
    when: ansible_distribution in ["AlmaLinux", "CentOS"]

  - name: Allow HTTP service through firewall (AlmaLinux/CentOS)
    firewalld:
        service: http
        permanent: true
        state: enabled
        immediate: true
    when: ansible_distribution in ["AlmaLinux", "CentOS"]

  - name: Start and enable Apache (httpd) (AlmaLinux/CentOS)
    service:
        name: httpd
        state: started
        enabled: true
    when: ansible_distribution in ["AlmaLinux", "CentOS"]
    
  - name: Verify Apache is listening on port 80
    shell: ss -lntp | grep :80
    register: apache_port
    changed_when: false
    when: ansible_distribution in ["AlmaLinux", "CentOS"]

  - debug: 
      var: apache_port.stdout
