# Managed by Ansible
SOLR_HOME="{{ solr_home }}"
SOLR_LOGS_DIR="{{ solr_logs_dir }}"
SOLR_HOST="{{ solr_host }}"
SOLR_PORT="{{ solr_port }}"
SOLR_JAVA_MEM="-Xms{{ solr_xms }} -Xmx{{ solr_xmx }}"
GC_TUNE="{{ solr_gc_opts }}"
